<div class="loading">
          <div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
          </div>
<div class="loading-msg" id="pre-login" style="display:none;">Taking you to login</div>
<div class="loading-msg" id="post-login" style="display:none;">Taking you to the website</div>
</div>