<sly data-sly-test="${properties.verificationText}">
	<div class="max-width-sm element--centered">
        <div id="verifyEmailMsg" class="${wcmmode.edit ? '' : 'd-none'}">
         ${properties.verificationText @ context='html'}
        </div>
        <div class="loading d-none">
        <div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
       </div>
        </div>
        <div id="expiredEmailMsg" class="${wcmmode.edit ? '' : 'd-none'}">
         ${properties.expirationtext @ context='html'}
        </div>
    </div>
    </sly>
<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder @ isEmpty = !properties.verificationText, classAppend='cmp-text'}"></sly>






