<sly data-sly-test.gatedClassName="${!wcmmode.edit && properties.contentType == 'article' && properties.isGated ? 'bc-gated-content-content gated-content-article':''}"> </sly>
<sly data-sly-test="${properties.contentType == 'article'}" data-sly-resource="${'gated-content' @ resourceType='nswbc-commons/components/content/layoutcontainer',decorationTagName='div', cssClassName=gatedClassName}"></sly>
<div data-sly-test="${(properties.contentType == 'article' && properties.isGated) || properties.contentType == 'download'}" data-sly-use.model="com.nswbc.ba.core.models.gatedarticle.GatedArticleModel" class="bc-gated-content ${model.bgColor != '' && model.bgColorRGB == null ? model.bgColor : ''} ${model.textColor} ${wcmmode.edit ?  'gated':''}" data-module="bc-gated-content" data-type="${model.contentType == 'download' ?  (model.isGated ? 'download':'ungated-download') :'content'}" style="background-color:${model.bgColorRGB @ context='styleToken'}" id="mod-bc-gated-content-1">
    <div class="image" style="background-image:url(${model.fileReferenceBg @ context='uri'})"></div>
    <div class="content ">
        <div class="content-text">
        	<div data-sly-test="${model.headingType == 'image'}" class="promo-img-wrapper">
					<img data-sly-test="${model.fileReference}" src="${model.fileReference @ context='uri'}" class="image--title" alt="Business">
			</div>
            <h3 data-sly-test="${model.headingType == 'text'}">
                <span class="">${model.heading}</span>
            </h3>
            <div id="error-note" class="d-none"></div>
            <p class="initialText ${model.subHeadingStrong ? 'text--strong':''}">${model.subHeading}</p>
            <p data-sly-test="${model.contentType =='download'}" class="secondaryText ${model.subHeadingStrong ? 'text--strong':''} d-none">${model.successSubHeading}</p>
            <form id="subscribeForm" action="" method="get" novalidate="novalidate">
                <div class="field field-required ">
                    <label class="field__label" for="email">${model.emailHeading}</label>
                    <input class="field__input js-email  " id="email" name="email" type="text" value="" aria-label="Email address" required="" placeholder="Your email">
                    <div class="field__error field__error-email"></div>
                </div>
                <div class="button--wrapper button--center ">
                        <button data-doc="${model.contentType =='download' ? model.docURL : ''}" type="submit" class="button button--${model.linkType} button-fullwidth ${model.contentType == 'article' ? 'register-submit-btn':''} ${model.textColor =='g-color-white' ?'button--reverse':''}" tabindex="0" target="" title="${model.contentType == 'article' ? 'Access Article':'Download The Report'}" aria-label="${model.contentType == 'article' ? 'Access Article':'Download The Report'}">
                        ${model.linkLabel}
                    </button>
                </div>
                <div data-sly-test="${model.optinText}" class="field checkbox field-required">
	               <input class="field__input js-optin" id="optin" name="optin" type="checkbox" value="" aria-label="${model.optinText}"/>
	               <label class="field__label checkbox" for="optin">${model.optinText}</label>
               <div class="field__error"> </div>
            </div>
            </form>
        </div>
    </div>
</div>

<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder @ isEmpty = ((properties.contentType=='article' &&  !properties.isGated) || !properties.contentType)  }"></sly>