<sly data-sly-test="${properties.linkLabel}">
<div class="user-icon">
    <svg class="icon" aria-hidden="true">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/etc.clientlibs/nswbc-${inheritedPageProperties.brandName}/clientlibs/clientlib-${inheritedPageProperties.brandName}/resources/svg/svg.svg#user"></use>
    </svg>
</div>
    
<div class="button--wrapper button--${properties.buttonAlign}">
	<button type="submit" id="loginButton" class="button button--primary login-btn button--center" tabindex="0" target="" title="${properties.linkLabel}" aria-label="${properties.linkLabel}">
		${properties.linkLabel}
	</button>
</div>
</sly>
<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" 
 data-sly-call="${templates.placeholder @ isEmpty = !properties.linkLabel, classAppend='cmp-text'}"></sly>
