<section data-sly-test="${properties.heading}" data-sly-use.model="com.nswbc.ba.core.models.membershipadvantages.MembershipAdvantagesModel" class="bc-membership-advantages ${model.textColor == 'g-color-white'?'white-seperator':''}" style="background-color:${properties.bgColor @ context='styleToken'}">
	<div class="bc-membership-advantages__container ${model.textColor}">
		<div class="title">
			<strong>${model.heading}</strong>
		</div>
	</div>
	<div class="bc-membership-advantages__container ${model.textColor}">
		<div data-sly-repeat="${model.columns}" class="tile-container">
			<img class="icon" src="${item.fileReference}"
				alt="${item.imgAltText}" />
			<div class="tile-text">
				<strong>${item.title}</strong>
			</div>
		</div>
	</div>
	<div class="bc-membership-advantages__container">
		<sly data-sly-resource="${resource.path @ resourceType='nswbc-commons/components/content/button', appendPath='/button', decorationTagName='div'}"></sly>
	</div>
</section>
<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
	data-sly-call="${templates.placeholder @ isEmpty = !properties.heading}"></sly>