<sly data-sly-use.brandName="com.nswbc.commons.core.utils.BrandName">
    <script>
         var brandName = "${brandName.brandName @context='scriptString'}";
    </script>
    <script data-sly-test="${wcmmode.edit}">
         var editmode = true;
    </script>
</sly>
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.js @ categories='nswbc-commons.msallogin'}"/>